@model IEnumerable<CST350.Models.CellModel>

@{
    int DIM = (int)Math.Sqrt(Model.Count());
}

<p id="board-timestamp" class="timestamp">Board Load: @DateTime.Now</p>

<div class="d-flex flex-column justify-content-center">
    @for (int i = 0; i < DIM; i++)
    {
        <div class="row d-flex justify-content-center">
            @for (int j = 0; j < DIM; j++)
            {
                string cellClass = "";
                string cellData = "";

                int ind = (DIM * i) + j;
                CellModel cell = Model.ElementAt(ind);
                if (cell.visited)
                {
                    if (cell.live)
                    {
                        cellClass = "live";
                        cellData = "*";
                    }
                    else
                    {
                        cellClass = "visited";
                        if (cell.numLiveNeighbors > 0)
                        {
                            cellData = cell.numLiveNeighbors.ToString();
                        }
                    }
                }
                else
                {
                    if (cell.flagged)
                    {
                        cellClass = "flagged";
                        cellData = "F";
                    }
                    else
                    {
                        cellClass = "not-visited";
                        cellData = "";
                    }
                }

                <button onclick="leftClick(@ind)" oncontextmenu="rightClick(event, @ind)" class="cell @cellClass">
                    <span>@cellData</span>
                </button>
            }
        </div>
    }
</div>

