@model IEnumerable<CST350.Models.CellModel>

@{
    int DIM = (int)Math.Sqrt(Model.Count());
}

<p id="board-timestamp" class="timestamp">Board Load: @DateTime.Now</p>

<div class="d-flex flex-column justify-content-center">
    @for (int i = 0; i < DIM; i++)
    {
        <div class="row d-flex justify-content-center">
            @for (int j = 0; j < DIM; j++)
            {
                int ind = (DIM * i) + j;
                CellModel cell = Model.ElementAt(ind);

                string state = "";
                if (cell.visited)
                {
                    if (cell.live)
                    {
                        state = "live";
                    }
                    else
                    {
                        state = "visited";
                    }
                }
                else
                {
                    if (cell.flagged)
                    {
                        state = "flagged";
                    }
                    else
                    {
                        state = "not-visited";
                    }
                }

                <button onclick="leftClick(@ind)" oncontextmenu="rightClick(event, @ind)" class="cell @state">
                    @if (cell.visited)
                    {
                        @if (cell.live)
                        {
                            <span>*</span>
                        }
                        else if (cell.numLiveNeighbors > 0)
                        {
                            <span>@cell.numLiveNeighbors</span>
                        }
                    }
                    else
                    {
                        @if (cell.flagged)
                        {
                            <span>F</span>
                        }
                        else
                        {
                            <span></span>
                        }
                    }
                </button>
            }
        </div>
    }
</div>

