@{
    ViewData["Title"] = "Minesweeper";
}

<div class="text-center">
    <h2 id="message" style="height: 2rem"></h2>
</div>

<p id="page-timestamp" class="timestamp">Page Load: @DateTime.Now</p>

<div id="board"></div>

<div class="d-flex justify-content-center p-2">
    <button onclick="reset()" class="btn btn-primary">Reset</button>
</div>

