@{
    ViewData["Title"] = "Login Form";
}

<div class="text-center">
    <h1 class="display-4">Login Form</h1>
    <form asp-controller="Login" asp-action="Submit" method="post">
        <div class="form-group">
            <label for="UserName">User Name:</label>
            <input type="text" class="form-control" id="UserName" name="UserName" value="r.plant@gmail.com" required />
        </div>
        <div class="form-group">
            <label for="Password">Password:</label>
            <input type="text" class="form-control" id="Password" name="Password" value="password" required />
        </div>
        <button type="submit" class="btn btn-primary m-2">Submit</button>
    </form>
</div>
 
