@{
    ViewData["Title"] = "Load";
}

<div class="text-center">
    <h2>Load a Saved Game</h2>
    <ul id="games" class="d-flex flex-column"></ul>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        allGames();
    });
</script>
