html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: #bbb;
    border: 1px solid #eee;
}

.visited {
    background: #ddd;
}

.win {
    background: #70e88c;
}

.lose {
    background: #fcbcbc;
}

.timestamp {
    position: fixed;
}

#board-timestamp {
    top: 10rem;
}

