html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

li {
    list-style-type: none;
}

.game {
    padding: 0.2rem;
    text-align: start;
    border: 1px solid #eee;
    border-radius: 5px;
}

.game a {
    margin-right: 0.2rem;
    padding: 0.5rem 1rem;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
}

.game a:hover {
    border: 1px solid #333;
    cursor: pointer;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid #eee;
}

.not-visited {
    background: #bbb;
}

.visited {
    background: #ddd;
}

.live {
    background: #fcbcbc;
}

.flagged {
    background: #90b6c3;
}

#board {
    margin: 1rem;
}

